#define IDC_GRP_ABOUT 6001
#define IDR_VERSION 1
#define IDC_HSPLITTCUR 101
#define IDB_BOOKMARK 102
#define IDC_SELECTCUR 103
#define IDB_LINENUMBER 104
#define IDB_EXPAND 105
#define IDB_COLLAPSE 106
#define IDC_VSPLITTCUR 107
#define IDB_TRVMAP 110
#define IDB_JACKALICON 111
#define ID_FINDDLG 2000
#define IDC_FINDTEXT 2001
#define IDC_REPLACESTATIC 2009
#define IDC_REPLACETEXT 2002
#define IDC_CHK_MATCHCASE 2003
#define IDC_CHK_WHOLEWORD 2004
#define IDC_RBN_DOWN 2005
#define IDC_RBN_UP 2006
#define IDC_BTN_REPLACE 2007
#define IDC_BTN_REPLACEALL 2008
#define IDC_SCOPE 2010
#define IDD_DLG 1000
#define IDC_VSPLITBAR 1001
#define IDC_HSPLITBAR 1007
#define IDR_MENU 1000
#define IDM_FILE_NEW 1050
#define IDM_FILE_PROGRAM 1051
#define IDM_FILE_OPEN 1006
#define IDM_FILE_OPENHEX 1049
#define IDM_FILE_INSERT 1076
#define IDM_FILE_OPENRECENT 1082
#define IDM_FILE_SAVE 1007
#define IDM_FILE_SAVEAS 1008
#define IDM_FILE_SAVEALL 1026
#define IDM_FILE_CLOSE 1009
#define IDM_FILE_CLOSEALL 1068
#define IDM_FILE_PAGESETUP 1034
#define IDM_FILE_PRINT 1035
#define IDM_FILE_EXIT 1001
#define IDM_EDIT_UNDO 1012
#define IDM_EDIT_REDO 1013
#define IDM_EDIT_CUT 1010
#define IDM_EDIT_COPY 1011
#define IDM_EDIT_PASTE 1014
#define IDM_EDIT_DELETE 1015
#define IDM_EDIT_SELECTALL 1017
#define IDM_MENU_MARK 1121
#define IDM_MARK_SET 1069
#define IDM_MARK_END 1070
#define IDM_EDIT_FINDRETURN 1120
#define IDM_EDIT_FD1 1056
#define IDM_EDIT_FD2 1062
#define IDM_EDIT_FD3 1075
#define IDM_EDIT_FD4 1081
#define IDM_EDIT_FIND 1018
#define IDM_EDIT_NEXT 1019
#define IDM_EDIT_PREV 1020
#define IDM_EDIT_REPLACE 1021
#define IDM_EDIT_GOTO 1067
#define IDM_EDIT_GOTOBEGIN 1093
#define IDM_EDIT_INDENT 1022
#define IDM_EDIT_OUTDENT 1023
#define IDM_EDIT_COMMENT 1024
#define IDM_EDIT_UNCOMMENT 1025
#define IDM_EDIT_SETMARK 1027
#define IDM_EDIT_NEXTBOOK 1028
#define IDM_EDIT_PREVBOOK 1029
#define IDM_EDIT_CLEARBOOK 1030
#define IDM_EDIT_SETSOURCE 1057
#define IDM_EDIT_NEXTSOURCE 1059
#define IDM_EDIT_PREVSOURCE 1061
#define IDM_VIEW_STATUS 1004
#define IDM_VIEW_PANEL 1016
#define IDM_VIEW_OUTPUT 1041
#define IDM_VIEW_OUT_DOCK 1071
#define IDM_VIEW_TOGGLE 1005
#define IDM_VIEW_HIDEALL 1096
#define IDM_VIEW_CYCLE 1058
#define IDM_PROJECT_NEW 1101
#define IDM_PROJECT_NEWV2 1200
#define IDM_PROJECT_OPEN 1038
#define IDM_PROJECT_CLOSE 1039
#define IDM_PROJECT_MANAGER 1100
#define IDM_PROJECT_JOBS 1055
#define IDM_MAKE_BUILDJOB 1040
#define IDM_MAKE_BUILDIT 1042
#define IDM_MAKE_REBUILD 1043
#define IDM_MAKE_REBUILDONE 1073
#define IDM_MAKE_REBUILDJOB 1037
#define IDM_BUILD_SCRIPT 1092
#define IDM_MAKE_RUN 1045
#define IDM_MAKE_BUILDITRUN 1046
#define IDM_MAKE_CLEAN 1086
#define IDM_MAKE_TESTBUILD 1085
#define IDM_TOOL_CONSOLE 1080
#define IDM_TOOL_CALC 1078
#define IDM_TOOL_COLOR 1079
#define IDM_TOOL_RUN 1052
#define IDM_OPTION_GENERAL 1095
#define IDM_OPTION_HIDE 1047
#define IDM_OPTION_SETPATHS 1048
#define IDM_OPTION_CODEFONT 1031
#define IDM_OPTION_LINEFONT 1032
#define IDM_OPTION_KEYWORDS 1033
#define IDM_HELP_SHOWENV 1084
#define IDM_HELP_ABOUT 1036
#define IDR_ACCEL 200
#define KEYBOARD_CTRLTAB 1500
#define ID_KEYWORDS 4000
#define IDC_LSTCOLORS 4015
#define IDC_LSTKWCOLORS 4001
#define IDC_LSTKWACTIVE 4014
#define IDC_BTNHOLD 4009
#define IDC_BTNACTIVE 4008
#define IDC_LSTKWHOLD 4013
#define IDC_EDTKW 4012
#define IDC_BTNADD 4011
#define IDC_BTNDEL 4010
#define IDC_CHKBOLD 4004
#define IDC_CHKITALIC 4003
#define IDC_CHKRCFILE 4005
#define IDC_BTNKWAPPLY 4002
#define IDC_CB_THEMES 4006
#define IDC_CB_SAVE 4007
#define IDC_CB_DELETE 4016
#define IDC_CB_LOAD 4017
#define ID_OUTPUT 3000
#define ID_TREEWIN 5000
#define IDC_TRV 5001
#define ID_MANAGERSET 8500
#define ID_HIDE_TABSIZE 8501
#define ID_HIDE_SPNTAB 8502
#define ID_HIDE_EXPTAB 8503
#define ID_HIDE_AUTOIND 8504
#define ID_HIDE_CONSOLE2OUT 8509
#define ID_HIDE_W 8526
#define ID_GOTO 2050
#define ID_GOTO_EDT 2051
#define ID_GETSTRINGINPUT 2100
#define IDC_EDT_TARGET 2101
#define ID_MANAGERJOBS 3100
#define IDC_MANAGERJOBS_UD 3106
#define IDC_MANAGERJOBS_NEWJOB 3109
#define IDC_MANAGERJOBS_REMOVEJOB 3110
#define IDC_MANAGERJOBS_NEWFILE 3113
#define IDC_MANAGERJOBS_REMOVEFILE 3116
#define IDC_MANAGERJOBS_NEWLIB 3118
#define IDC_MANAGERJOBS_REMOVELIB 3119
#define IDC_MANAGERJOBS_RENAMEJOB 3120
#define IDC_MANAGERJOBS_RENAMEFILE 3122
#define IDC_MANAGERJOBS_OUTPUT 3126
#define IDC_MANAGERJOBS_LINK 3123
#define IDC_MANAGERJOBS_PEGUI 3133
#define IDC_MANAGERJOBS_QUESEL 3137
#define IDC_MANAGERJOBS_BUILD 3138
#define IDC_MANAGERJOBS_HOLD 3139
#define IDC_MANAGERJOBS_CON2OUT 3102
#define IDC_MANAGERJOBS_JOBVIEW 3103
#define IDC_MANAGERJOBS_FILEVIEW 3105
#define ID_MANAGER 11000
#define IDC_MANAGERTAB 11001
#define IDC_MANAGEREDIT 11002
#define ID_MANAGERENV 12000
#define IDC_MANAGERENV_HELP 12010
#define IDC_MANAGERENV_PROJECT 12016
#define IDC_MANAGERENV_PATH 12018
#define ID_MANAGERGEN 13000
#define IDC_MANAGERGEN_TOPWINDOW 13002
#define IDC_MANAGERGEN_OPENLAST 13004
#define IDC_MANAGERGEN_AUTOSAVE 13005
#define IDC_MANAGERGEN_MAINFONT 13006
#define IDC_MANAGERGEN_LINEFONT 13007
#define IDC_MANAGERGEN_HIGHLIGHT 13008
#define IDC_MANAGERGEN_SHOWDIVIDER 13009
#define IDC_MANAGERGEN_HILITECMNT 13010
#define IDC_MANAGERGEN_SHOWLNNUM 13011
#define IDC_MANAGERGEN_PAREN 13012
#define ID_MANAGERPROJ 14000
#define IDC_MANAGERPROJ_NAME 14002
#define IDC_MANAGERPROJ_PATH 14001
#define IDC_MANAGERPROJ_RENAME 14003
#define IDC_MANAGERPROJ_TABS 14007
#define IDC_MANAGERPROJ_UDTABS 14008
#define IDC_MANAGERPROJ_AUTOIND 14004
#define IDC_MANAGERPROJ_EXPTABS 14009
#define IDC_MANAGERPROJ_FOLDERS 14010
#define IDC_MANAGERPROJ_NEWFOLDER 14011
#define IDC_MANAGERPROJ_DELFOLDER 14012
#define ID_NEWJOB 15000
#define IDC_NEWJOB_TYPE 15001
#define IDC_NEWJOB_NAME 15002
#define ID_NEWFILE 16000
#define IDC_NEWFILE_TYPE 16001
#define IDC_NEWFILE_NAME 16002
#define IDC_NEWFILE_FOLDER 16003
#define IDC_NEWFILE_IMPORT 16004
#define ID_RENAMEFILE 17000
#define IDC_RENAMEFILE_NAME 17003
#define IDC_STC1 17004
#define IDC_RENAMEFILE_FOLDER 17001
#define ID_EXPLORER 1100
#define ID_EXPLORER_TREE 1101

LANGUAGE 0,0

IDC_HSPLITTCUR CURSOR DISCARDABLE "Res/bmp/SplitH.cur"
IDB_BOOKMARK BITMAP DISCARDABLE "Res/bmp/Bookmark.bmp"
IDC_SELECTCUR CURSOR DISCARDABLE "Res/bmp/Select.cur"
IDB_LINENUMBER BITMAP DISCARDABLE "Res/bmp/Linenumber.bmp"
IDB_EXPAND BITMAP DISCARDABLE "Res/bmp/Expand.bmp"
IDB_COLLAPSE BITMAP DISCARDABLE "Res/bmp/Collapse.bmp"
IDC_VSPLITTCUR CURSOR DISCARDABLE "Res/bmp/SplitV.cur"
IDB_TRVMAP BITMAP DISCARDABLE "Res/bmp/Trv.bmp"
IDB_JACKALICON ICON DISCARDABLE "Res/JAKAL.ICO"

ID_FINDDLG DIALOGEX 6,5,184,88
CAPTION "Find ..."
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80000
EXSTYLE 0x00000080
BEGIN
  CONTROL "Find what:",-1,"Static",0x50000100,4,5,34,9
  CONTROL "",IDC_FINDTEXT,"Edit",0x50010080,42,3,138,13,0x00000200
  CONTROL "Replace:",IDC_REPLACESTATIC,"Static",NOT 0x10000000|0x40000000,4,22,32,9
  CONTROL "",IDC_REPLACETEXT,"Edit",NOT 0x10000000|0x40010080,42,20,138,13,0x00000200
  CONTROL "Match Case",IDC_CHK_MATCHCASE,"Button",0x50010003,8,48,52,9
  CONTROL "Whole Word",IDC_CHK_WHOLEWORD,"Button",0x50010003,8,57,54,9
  CONTROL "Direction",-1,"Button",0x50000007,70,36,64,32
  CONTROL "Down",IDC_RBN_DOWN,"Button",0x50010009,78,57,50,9
  CONTROL "Up",IDC_RBN_UP,"Button",0x50030009,78,46,50,9
  CONTROL "Find",1,"Button",0x50010000,140,38,40,11
  CONTROL "Replace",IDC_BTN_REPLACE,"Button",0x50010000,140,51,40,11
  CONTROL "Replace All",IDC_BTN_REPLACEALL,"Button",0x58010000,140,64,40,11
  CONTROL "Cancel",2,"Button",0x50010000,140,77,40,11
  CONTROL "Options",-1,"Button",0x50000007,4,36,62,32
  CONTROL "",IDC_SCOPE,"Button",0x50011000,66,72,70,15
  CONTROL "Find Scope:",2011,"Static",0x50000201,4,73,58,11
END

IDD_DLG DIALOGEX 6,6,261,168
CAPTION "HED"
FONT 8,"MS Sans Serif",0,0,0
CLASS "HEDClass"
STYLE 0x16CF0800
EXSTYLE 0x00000010
BEGIN
  CONTROL "",IDC_VSPLITBAR,"Static",NOT 0x10000000|0x40000105,12,18,134,1
  CONTROL "",IDC_HSPLITBAR,"Static",NOT 0x10000000|0x40000105,6,16,1,107
END

IDR_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New File\tCtrl+N",IDM_FILE_NEW
    MENUITEM "&Open File...\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "Open As &Hex\tCtrl+H",IDM_FILE_OPENHEX
    MENUITEM "&Insert File At Cursor...\tCtrl+I",IDM_FILE_INSERT
    MENUITEM "Open Recent",IDM_FILE_OPENRECENT
    MENUITEM "",,0x00000800
    MENUITEM "&Save File\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "Save File &As...\tAlt+S",IDM_FILE_SAVEAS
    MENUITEM "Save All Files\tShift+Ctrl+S",IDM_FILE_SAVEALL
    MENUITEM "",,0x00000800
    MENUITEM "&Close File\tCtrl+F4",IDM_FILE_CLOSE
    MENUITEM "Close All Files\tShift+Ctrl+F4",IDM_FILE_CLOSEALL
    MENUITEM "",,0x00000800
    MENUITEM "Page &Setup...",IDM_FILE_PAGESETUP
    MENUITEM "&Print...\tCtrl+P",IDM_FILE_PRINT
    MENUITEM "",,0x00000800
    MENUITEM "&Exit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "&Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "",,0x00000800
    MENUITEM "&Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "&Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "Select &All\tCtrl+A",IDM_EDIT_SELECTALL
    POPUP "Mark",IDM_MENU_MARK
    BEGIN
      MENUITEM "Set\tCtrl+Alt+S",IDM_MARK_SET
      MENUITEM "End\tCtrl+Alt+E",IDM_MARK_END
    END
    MENUITEM "",,0x00000800
    MENUITEM "&Find...\tCtrl+F",IDM_EDIT_FIND
    MENUITEM "Find &Next\tF3",IDM_EDIT_NEXT
    MENUITEM "Find &Previous\tCtrl+F3",IDM_EDIT_PREV
    MENUITEM "&Replace\tCtrl+R",IDM_EDIT_REPLACE
    MENUITEM "",,0x00000800
    MENUITEM "Goto Line...\tCtrl+G",IDM_EDIT_GOTO
    MENUITEM "",,0x00000800
    MENUITEM "&Indent\tF9",IDM_EDIT_INDENT
    MENUITEM "&Outdent\tCtrl+F9",IDM_EDIT_OUTDENT
    MENUITEM "&Comment\tAlt+F9",IDM_EDIT_COMMENT
    MENUITEM "&Uncomment\tCtrl+Alt+F9",IDM_EDIT_UNCOMMENT
    MENUITEM "",,0x00000800
    MENUITEM "&Toggle Bookmark\tShift+F8",IDM_EDIT_SETMARK
    MENUITEM "&Next Bookmark\tF8",IDM_EDIT_NEXTBOOK
    MENUITEM "&Previous Bookmark\tCtrl+F8",IDM_EDIT_PREVBOOK
    MENUITEM "Clear &Bookmarks\tShift+Ctrl+F8",IDM_EDIT_CLEARBOOK
    MENUITEM "",,0x00000800
  END
  POPUP "&View"
  BEGIN
    MENUITEM "StatusBar",IDM_VIEW_STATUS
    MENUITEM "Panel\tShift+F12",IDM_VIEW_PANEL
    POPUP "Output"
    BEGIN
      MENUITEM "Show\tCtrl+F12",IDM_VIEW_OUTPUT
      MENUITEM "Dock",IDM_VIEW_OUT_DOCK
    END
    MENUITEM "Toggle Windows\tF12",IDM_VIEW_TOGGLE
    MENUITEM "Hide Windows\tAlt+F12",IDM_VIEW_HIDEALL
    MENUITEM "Cycle Panel\tF11",IDM_VIEW_CYCLE
  END
  POPUP "&Project"
  BEGIN
    MENUITEM "&New Project...\tShift+Ctrl+N",IDM_PROJECT_NEW
    MENUITEM "&New Custom Project...",IDM_PROJECT_NEWV2
    MENUITEM "&Open Project...\tShift+Ctrl+O",IDM_PROJECT_OPEN
    MENUITEM "&Close Project\tShift+Ctrl+C",IDM_PROJECT_CLOSE
    MENUITEM "",,0x00000800
    MENUITEM "&Project Manager...",IDM_PROJECT_MANAGER
    MENUITEM "&Jobs Manager...",IDM_PROJECT_JOBS
    MENUITEM "",,0x00000800
  END
  POPUP "&Make"
  BEGIN
    MENUITEM "Build &Active Job\tF5",IDM_MAKE_BUILDJOB
    MENUITEM "&Build Project\tCtrl+F5",IDM_MAKE_BUILDIT
    MENUITEM "&Rebuild Project\tShift+F5",IDM_MAKE_REBUILD
    MENUITEM "Rebuild Active File\tShift+Ctrl+F5",IDM_MAKE_REBUILDONE
    MENUITEM "Rebuild Active Job\tAlt+F5",IDM_MAKE_REBUILDJOB
    MENUITEM "Run Build Script\tF10",IDM_BUILD_SCRIPT
    MENUITEM "",,0x00000800
    MENUITEM "&Run\tF6",IDM_MAKE_RUN
    MENUITEM "B&uild Project && Run\tCtrl+F6",IDM_MAKE_BUILDITRUN
    MENUITEM "",,0x00000800
    MENUITEM "&Clean",IDM_MAKE_CLEAN
    MENUITEM "&Test Build -Commands Only",IDM_MAKE_TESTBUILD
    MENUITEM "",,0x00000800
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "&Calculator",IDM_TOOL_CALC
    MENUITEM "C&olor Picker",IDM_TOOL_COLOR
    MENUITEM "",,0x00000800
    MENUITEM "Open Con&sole",IDM_TOOL_CONSOLE
    MENUITEM "Run &Program",IDM_TOOL_RUN
  END
  POPUP "&Options"
  BEGIN
    MENUITEM "&General,,,",IDM_OPTION_GENERAL
    MENUITEM "&Standard Mode...",IDM_OPTION_HIDE
    MENUITEM "Environment...",IDM_OPTION_SETPATHS
    MENUITEM "",,0x00000800
    MENUITEM "&Code Editor Font...",IDM_OPTION_CODEFONT
    MENUITEM "&Line Number Font...",IDM_OPTION_LINEFONT
    MENUITEM "&Colors && Keywords...",IDM_OPTION_KEYWORDS
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "Show Environment",IDM_HELP_SHOWENV
    MENUITEM "",,0x00000800
    MENUITEM "&About...",IDM_HELP_ABOUT
  END
END

IDR_ACCEL ACCELERATORS
BEGIN
  78,IDM_FILE_NEW,VIRTKEY,CONTROL,NOINVERT
  79,IDM_FILE_OPEN,VIRTKEY,CONTROL,NOINVERT
  83,IDM_FILE_SAVE,VIRTKEY,CONTROL,NOINVERT
  83,IDM_FILE_SAVEAS,VIRTKEY,ALT,NOINVERT
  83,IDM_FILE_SAVEALL,VIRTKEY,CONTROL,SHIFT,NOINVERT
  115,IDM_FILE_CLOSE,VIRTKEY,CONTROL,SHIFT,NOINVERT
  90,IDM_EDIT_UNDO,VIRTKEY,CONTROL,NOINVERT
  89,IDM_EDIT_REDO,VIRTKEY,CONTROL,NOINVERT
  88,IDM_EDIT_CUT,VIRTKEY,CONTROL,NOINVERT
  67,IDM_EDIT_COPY,VIRTKEY,CONTROL,NOINVERT
  86,IDM_EDIT_PASTE,VIRTKEY,CONTROL,NOINVERT
  65,IDM_EDIT_SELECTALL,VIRTKEY,CONTROL,NOINVERT
  70,IDM_EDIT_FIND,VIRTKEY,CONTROL,NOINVERT
  114,IDM_EDIT_NEXT,VIRTKEY,NOINVERT
  114,IDM_EDIT_PREV,VIRTKEY,CONTROL,NOINVERT
  82,IDM_EDIT_REPLACE,VIRTKEY,CONTROL,NOINVERT
  120,IDM_EDIT_INDENT,VIRTKEY,NOINVERT
  120,IDM_EDIT_OUTDENT,VIRTKEY,CONTROL,NOINVERT
  120,IDM_EDIT_COMMENT,VIRTKEY,ALT,NOINVERT
  120,IDM_EDIT_UNCOMMENT,VIRTKEY,CONTROL,ALT,NOINVERT
  119,IDM_EDIT_SETMARK,VIRTKEY,SHIFT,NOINVERT
  119,IDM_EDIT_NEXTBOOK,VIRTKEY,NOINVERT
  119,IDM_EDIT_PREVBOOK,VIRTKEY,CONTROL,NOINVERT
  119,IDM_EDIT_CLEARBOOK,VIRTKEY,CONTROL,SHIFT,NOINVERT
  78,IDM_PROJECT_NEW,VIRTKEY,CONTROL,SHIFT,NOINVERT
  79,IDM_PROJECT_OPEN,VIRTKEY,CONTROL,SHIFT,NOINVERT
  67,IDM_PROJECT_CLOSE,VIRTKEY,CONTROL,SHIFT,NOINVERT
  116,IDM_MAKE_BUILDIT,VIRTKEY,CONTROL,NOINVERT
  116,IDM_MAKE_REBUILD,VIRTKEY,SHIFT,NOINVERT
  117,IDM_MAKE_RUN,VIRTKEY,NOINVERT
  117,IDM_MAKE_BUILDITRUN,VIRTKEY,CONTROL,NOINVERT
  71,IDM_EDIT_GOTO,VIRTKEY,CONTROL,NOINVERT
  115,IDM_FILE_CLOSEALL,VIRTKEY,CONTROL,SHIFT,NOINVERT
  83,IDM_MARK_SET,VIRTKEY,CONTROL,ALT,NOINVERT
  69,IDM_MARK_END,VIRTKEY,CONTROL,ALT,NOINVERT
  116,IDM_MAKE_REBUILDONE,VIRTKEY,CONTROL,SHIFT,NOINVERT
  9,KEYBOARD_CTRLTAB,VIRTKEY,CONTROL,NOINVERT
  80,IDM_FILE_PRINT,VIRTKEY,CONTROL,NOINVERT
  73,IDM_FILE_INSERT,VIRTKEY,CONTROL,NOINVERT
  113,IDM_EDIT_FD1,VIRTKEY,NOINVERT
  71,IDM_EDIT_GOTOBEGIN,VIRTKEY,CONTROL,SHIFT,NOINVERT
  123,IDM_VIEW_HIDEALL,VIRTKEY,ALT,NOINVERT
  113,IDM_EDIT_FD2,VIRTKEY,SHIFT,NOINVERT
  113,IDM_EDIT_FD3,VIRTKEY,CONTROL,NOINVERT
  113,IDM_EDIT_FD4,VIRTKEY,ALT,NOINVERT
  123,IDM_VIEW_PANEL,VIRTKEY,SHIFT,NOINVERT
  123,IDM_VIEW_OUTPUT,VIRTKEY,CONTROL,NOINVERT
  123,IDM_VIEW_TOGGLE,VIRTKEY,NOINVERT
  122,IDM_VIEW_CYCLE,VIRTKEY,NOINVERT
  77,IDM_PROJECT_MANAGER,VIRTKEY,CONTROL,NOINVERT
  116,IDM_MAKE_REBUILDJOB,VIRTKEY,ALT,NOINVERT
  116,IDM_MAKE_BUILDJOB,VIRTKEY,NOINVERT
  72,IDM_FILE_OPENHEX,VIRTKEY,CONTROL,NOINVERT
  118,IDM_EDIT_SETSOURCE,VIRTKEY,SHIFT,NOINVERT
  118,IDM_EDIT_NEXTSOURCE,VIRTKEY,NOINVERT
  118,IDM_EDIT_PREVSOURCE,VIRTKEY,CONTROL,NOINVERT
  121,IDM_BUILD_SCRIPT,VIRTKEY,NOINVERT
END

STRINGTABLE DISCARDABLE
BEGIN
  IDM_FILE_NEW "New File"
  IDM_FILE_OPEN "Open File"
  IDM_FILE_SAVE "Save File"
  IDM_FILE_SAVEALL "Save All"
  IDM_EDIT_CUT "Cut"
  IDM_EDIT_COPY "Copy"
  IDM_EDIT_PASTE "Paste"
  IDM_EDIT_DELETE "Delete"
  IDM_EDIT_FIND "Find"
  IDM_EDIT_REPLACE "Replace"
  IDM_EDIT_SETMARK "Set Bookmark"
  IDM_EDIT_NEXTBOOK "Next Bookmark"
  IDM_EDIT_PREVBOOK "Previous Bookmark"
  IDM_EDIT_CLEARBOOK "Clear Bookmarks"
  IDM_EDIT_UNDO "Undo"
  IDM_EDIT_REDO "Redo"
  IDM_MAKE_BUILDIT "Build"
  IDM_MAKE_REBUILD "Rebuild All"
  IDM_MAKE_RUN "Run"
  IDM_MAKE_BUILDITRUN "Build and Run"
  IDM_TOOL_CALC "Calculator"
  IDM_TOOL_COLOR "Color Picker"
  IDM_TOOL_CONSOLE "Open Console"
  IDM_HELP_ABOUT "About HED"
END

ID_KEYWORDS DIALOGEX 4,4,293,210
FONT 10,"MS Sans Serif",400,0,0
STYLE NOT 0x10000000|0x40000000
BEGIN
  CONTROL "Colors:",-1,"Static",0x50000000,4,138,39,8
  CONTROL "",IDC_LSTCOLORS,"ListBox",0x50210151,3,147,110,60,0x00000200
  CONTROL "Group:",-1,"Static",0x50000000,6,4,39,8
  CONTROL "",IDC_LSTKWCOLORS,"ListBox",0x50210151,4,13,107,120,0x00000200
  CONTROL "Active:",-1,"Static",0x50000000,127,6,39,8
  CONTROL "",IDC_LSTKWACTIVE,"ListBox",0x5021094B,124,13,87,120,0x00000200
  CONTROL ">",IDC_BTNHOLD,"Button",0x58010000,216,22,9,9
  CONTROL "<",IDC_BTNACTIVE,"Button",0x58010000,216,34,9,9
  CONTROL "On Hold:",-1,"Static",0x50000000,228,6,39,8
  CONTROL "",IDC_LSTKWHOLD,"ListBox",0x5021094B,228,13,54,120,0x00000200
  CONTROL "",IDC_EDTKW,"Edit",0x50010080,124,138,158,12,0x00000200
  CONTROL "Add",IDC_BTNADD,"Button",0x58000000,208,151,24,12
  CONTROL "Delete",IDC_BTNDEL,"Button",0x58000000,232,151,24,12
  CONTROL "Bold",IDC_CHKBOLD,"Button",0x50010003,124,153,26,9
  CONTROL "Italic",IDC_CHKITALIC,"Button",0x50010003,151,153,24,9
  CONTROL "RC file",IDC_CHKRCFILE,"Button",0x50010003,177,153,30,9
  CONTROL "Apply",IDC_BTNKWAPPLY,"Button",0x58010000,258,151,24,12
  CONTROL "",IDC_CB_THEMES,"ComboBox",0x50210102,135,181,71,60
  CONTROL "Themes",0,"Button",0x50000007,127,172,158,24
  CONTROL "Save",IDC_CB_SAVE,"Button",0x58000000,235,181,23,11
  CONTROL "Delete",IDC_CB_DELETE,"Button",0x58000000,259,181,23,11
  CONTROL "Load",IDC_CB_LOAD,"Button",0x58000000,210,181,23,11
END

ID_OUTPUT DIALOGEX 6,5,262,85
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CC0000
EXSTYLE 0x00000080
BEGIN
END

ID_TREEWIN DIALOGEX 4,4,66,114
CAPTION "Project"
FONT 10,"MS Sans Serif",400,0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_TRV,"SysTreeView32",0x50010007,0,0,66,114
END

ID_MANAGERSET DIALOGEX 4,4,293,210
FONT 10,"MS Sans Serif",400,0,0
STYLE NOT 0x10000000|0x40080000
BEGIN
  CONTROL "Tab Size",0,"Static",0x50000000,37,24,30,9
  CONTROL "",ID_HIDE_TABSIZE,"Edit",0x50002801,69,24,21,9,0x00000200
  CONTROL "",ID_HIDE_SPNTAB,"msctls_updown32",0x50000016,84,24,6,9
  CONTROL "Expand tabs to spaces",ID_HIDE_EXPTAB,"Button",0x50010003,37,61,135,9
  CONTROL "Auto indent",ID_HIDE_AUTOIND,"Button",0x50010003,37,51,135,9
  CONTROL "Send console stdout to Output window",ID_HIDE_CONSOLE2OUT,"Button",0x50010003,37,72,135,9
END


ID_GOTO DIALOGEX 6,6,77,33
CAPTION "Goto"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "Line:",-1,"Static",0x50000000,4,1,16,9
  CONTROL "",ID_GOTO_EDT,"Edit",0x50011000,22,0,50,13,0x00000200
  CONTROL "OK",1,"Button",0x50010000,42,18,32,13
  CONTROL "CANCEL",2,"Button",0x50010000,4,18,32,13
END

ID_GETSTRINGINPUT DIALOGEX 4,4,197,30
FONT 10,"MS Sans Serif",400,0,0
STYLE 0x10CC0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_EDT_TARGET,"Edit",0x50011080,6,7,183,14,0x00000200
END

ID_MANAGERJOBS DIALOGEX 4,4,291,211
FONT 10,"MS Sans Serif",400,0,0
STYLE NOT 0x10000000|0x400F0000
BEGIN
  CONTROL "",IDC_MANAGERJOBS_UD,"msctls_updown32",0x58000000,36,4,6,63
  CONTROL "New...",IDC_MANAGERJOBS_NEWJOB,"Button",0x50010F00,4,4,30,12
  CONTROL "Remove",IDC_MANAGERJOBS_REMOVEJOB,"Button",0x58010F00,4,31,30,12
  CONTROL "New...",IDC_MANAGERJOBS_NEWFILE,"Button",0x58010000,4,91,30,12
  CONTROL "Remove",IDC_MANAGERJOBS_REMOVEFILE,"Button",0x58010000,4,127,30,12
  CONTROL "Rename",IDC_MANAGERJOBS_RENAMEJOB,"Button",0x58010F00,4,18,30,12
  CONTROL "Rename..",IDC_MANAGERJOBS_RENAMEFILE,"Button",0x58010F00,4,109,30,12
  CONTROL "Output:",0,"Static",0x50000000,117,6,24,9
  CONTROL "",IDC_MANAGERJOBS_OUTPUT,"Edit",0x50010080,142,4,80,11,0x00000200
  CONTROL "Hold",IDC_MANAGERJOBS_QUESEL,"Button",0x58010F00,4,45,30,12
  CONTROL "Build Queue",IDC_MANAGERJOBS_BUILD,"Button",0x50011009,43,69,42,12
  CONTROL "Held",IDC_MANAGERJOBS_HOLD,"Button",0x50011009,88,69,24,12
  CONTROL "Send stdout to Output window",IDC_MANAGERJOBS_CON2OUT,"Button",0x58010003,117,33,110,11
  CONTROL "",IDC_MANAGERJOBS_JOBVIEW,"SysListView32",0x5001000D,43,4,69,63,0x00000200
  CONTROL "",IDC_MANAGERJOBS_FILEVIEW,"SysListView32",0x5001000D,40,91,249,113,0x00000200
END

ID_MANAGER DIALOGEX 6,6,348,240
CAPTION "HIDE Manager"
FONT 10,"MS Sans Serif",400,0,0
STYLE 0x10CB0800
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_MANAGERTAB,"SysTabControl32",0x50018300,0,0,56,239
  CONTROL "",IDC_MANAGEREDIT,"Edit",0x50200044,57,211,251,30,0x00000200
  CONTROL "Cancel",2,"Button",0x50010000,309,228,39,12
  CONTROL "Set",1,"Button",0x50010000,309,211,39,15
END

ID_MANAGERENV DIALOGEX 4,4,293,210
FONT 10,"MS Sans Serif",400,0,0
STYLE NOT 0x10000000|0x400B0000
BEGIN
  CONTROL "Help (F1)",0,"Static",0x50000000,25,93,33,9
  CONTROL "",IDC_MANAGERENV_PROJECT,"Edit",0x50010080,60,61,207,12,0x00000200
  CONTROL "Project Folder",0,"Static",0x50000000,25,63,33,9
  CONTROL "",IDC_MANAGERENV_PATH,"Edit",0x50010080,60,46,207,12,0x00000200
  CONTROL "User Paths",0,"Static",0x50000000,25,48,33,9
END

ID_MANAGERGEN DIALOGEX 6,6,293,210
FONT 10,"MS Sans Serif",400,0,0
STYLE NOT 0x10000000|0x40000000
BEGIN
  CONTROL "Keep HED window at the top",IDC_MANAGERGEN_TOPWINDOW,"Button",0x50010003,27,55,207,9
  CONTROL "Open previous project on startup",IDC_MANAGERGEN_OPENLAST,"Button",0x50010003,27,13,207,9
  CONTROL "Automatically save untitled files",IDC_MANAGERGEN_AUTOSAVE,"Button",0x50010003,27,24,207,9
  CONTROL "Choose code editor font...",IDC_MANAGERGEN_MAINFONT,"Button",0x50010D00,27,171,87,12
  CONTROL "Choose line numbers font...",IDC_MANAGERGEN_LINEFONT,"Button",0x50010D00,166,171,87,12
  CONTROL "Highlight current line",IDC_MANAGERGEN_HIGHLIGHT,"Button",0x50010003,27,76,207,9
  CONTROL "Show divider lines",IDC_MANAGERGEN_SHOWDIVIDER,"Button",0x50010003,27,87,207,9
  CONTROL "Show line numbers",IDC_MANAGERGEN_SHOWLNNUM,"Button",0x50010003,27,97,207,9
  CONTROL "Automatically finish parenthesis",IDC_MANAGERGEN_PAREN,"Button",0x50010003,27,108,207,9
END

ID_MANAGERPROJ DIALOGEX 6,6,293,210
FONT 10,"MS Sans Serif",400,0,0
STYLE NOT 0x10000000|0x40800000
BEGIN
  CONTROL "",IDC_MANAGERPROJ_NAME,"Static",0x50000000,31,24,189,9
  CONTROL "Path:",0,"Static",0x50000000,7,15,24,9
  CONTROL "",IDC_MANAGERPROJ_PATH,"Static",0x50000000,31,15,189,9
  CONTROL "Name:",0,"Static",0x50000000,7,24,24,9
  CONTROL "Rename",IDC_MANAGERPROJ_RENAME,"Button",0x50010000,229,19,57,12
  CONTROL "",IDC_MANAGERPROJ_TABS,"Edit",0x50002801,40,37,21,12,0x00000200
  CONTROL "",IDC_MANAGERPROJ_UDTABS,"msctls_updown32",0x50000016,57,37,6,12
  CONTROL "Tab Size:",0,"Static",0x50000000,9,39,30,9
  CONTROL "Auto indent",IDC_MANAGERPROJ_AUTOIND,"Button",0x50010003,70,39,48,9
  CONTROL "Expand tabs to spaces",IDC_MANAGERPROJ_EXPTABS,"Button",0x50010003,130,39,78,9
  CONTROL "",IDC_MANAGERPROJ_FOLDERS,"ListBox",0x50300143,30,85,81,96,0x00000200
  CONTROL "Project Folders",0,"Static",0x50000000,34,75,51,9
  CONTROL "New",IDC_MANAGERPROJ_NEWFOLDER,"Button",0x50010000,30,184,35,12
  CONTROL "Delete",IDC_MANAGERPROJ_DELFOLDER,"Button",0x58010000,76,184,35,12
END

ID_NEWJOB DIALOGEX 6,6,240,51
CAPTION "Add New Job to Project"
FONT 10,"MS Sans Serif",400,0,0
STYLE 0x10C00800
BEGIN
  CONTROL "",IDC_NEWJOB_TYPE,"ComboBox",0x50300003,7,18,72,63
  CONTROL "",IDC_NEWJOB_NAME,"Edit",0x50010000,84,18,147,12,0x00000200
  CONTROL "Job Type",0,"Static",0x50000000,7,7,71,8
  CONTROL "Job Name",0,"Static",0x50000000,87,7,71,8
  CONTROL "OK",1,"Button",0x50010000,201,37,30,11
  CONTROL "CANCEL",2,"Button",0x50010000,165,37,30,11
END

ID_NEWFILE DIALOGEX 5,5,296,63
CAPTION "Add New File to Project"
FONT 10,"MS Sans Serif",400,0,0
STYLE 0x10C00880
EXSTYLE 0x00000001
BEGIN
  CONTROL "File Type",0,"Static",0x50000000,6,12,42,11
  CONTROL "Folder",0,"Static",0x50000000,67,12,42,9
  CONTROL "File Name",0,"Static",0x50000000,124,12,42,9
  CONTROL "",IDC_NEWFILE_TYPE,"ComboBox",0x50310003,4,24,54,57
  CONTROL "",IDC_NEWFILE_NAME,"Edit",0x50010000,121,24,132,12,0x00000200
  CONTROL "",IDC_NEWFILE_FOLDER,"ComboBox",0x50310003,63,24,54,60
  CONTROL "CANCEL",2,"Button",0x50010000,228,43,30,12
  CONTROL "OK",1,"Button",0x50010000,262,43,30,12
  CONTROL "Import...",IDC_NEWFILE_IMPORT,"Button",0x50010003,259,24,36,12
END

ID_RENAMEFILE DIALOGEX 5,5,243,60
CAPTION "Rename File"
FONT 10,"MS Sans Serif",400,0,0
STYLE 0x10C00800
BEGIN
  CONTROL "Folder",0,"Static",0x50000000,10,10,41,11
  CONTROL "OK",1,"Button",0x50010000,201,42,30,11
  CONTROL "CANCEL",2,"Button",0x50010000,165,42,30,11
  CONTROL "",IDC_RENAMEFILE_NAME,"Edit",0x50010000,84,22,147,12,0x00000200
  CONTROL "File Name",IDC_STC1,"Static",0x50000000,85,10,41,11
  CONTROL "",IDC_RENAMEFILE_FOLDER,"ComboBox",0x50310003,9,22,66,44
END

ID_EXPLORER DIALOGEX 10,10,91,169
CAPTION "Explorer"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",ID_EXPLORER_TREE,"SysTreeView32",0x50010007,0,0,93,168
END

